<section>
    <h2>Entre como participante</h2>
    <form action="/enterroom" method="POST">
        <label for="room-id" class="sr-only">Código da sala</label>
        <input name="roomId" type="number" id="room-id" placeholder="Entrar em uma sala">
        <button><img src="images/enter-room.svg" alt="Código da sala">Código da sala</button>
    </form>
</section><!--entre-como-participante-->

<div class="separator">
    <div></div>
    <div>ou</div>
    <div></div>
</div><!--separator-->

<section>
    <h2>Criar sua própria sala de forma fácil</h2>
    <a href="/create-pass" class="button outlined"><img src="images/users.svg" alt="Criar uma sala">Criar uma Sala</a>
</section><!--criar-sala-->